{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
{% block content %}
<body>
<div class="ekb">
    <div class="book-container">
        <h2>Екатеринбург</h2>
        <div class="book_box">
            {% for book in books_ekb %}
          <div class="book_item">
            <a href="{% url 'form' %}{{book.pk}}" class="book-item_link">
              <div class="book-item_bg"></div>
              <div class="book-item_title">
                {{book.date}}
              </div>
              <div class="book_date-box">
                <span class="book-item_date">
                  {{book.time}}
                </span>
              </div>
            </a>
          </div>
            {% endfor %}
        </div>
      
        </div>
      </div>
</div>


<div class="ufa">
    <div class="book-container">
        <h2>Уфа</h2>
        <div class="book_box">
            {% for book in books_ufa %}
          <div class="book_item">
            <a href="{% url 'form' %}{{book.pk}}" class="book-item_link">
              <div class="book-item_bg"></div>
              <div class="book-item_title">
                {{book.date}}
              </div>
              <div class="book_date-box">
                <span class="book-item_date">
                  {{book.time}}
                </span>
              </div>
            </a>
          </div>
            {% endfor %}
        </div>
      </div>
</div>
</body>
{% endblock content%}