{% extends 'base.html' %}
{% block content %}
<html>
    <body>
    <h1>Привет!</h1>
    <p></p>
        <div>
            <h2>Я Елена, фотограф. В моем портфолио более 50 креативных и коммерческих съемок, и я буду счастлива
                запечатлеть вас!</h2>
        </div>

        <div>
            <h3>Принципы моей работы: ваши искренние эмоции, творческое видение и воплощение самых смелых решений.</h3>
        </div>

        <div>
            <h3>Мое портфолио находится в блоке <a href="{% url 'contacts' %}">контактов</a>, а также вы можете
                воспользоваться <a href="{% url 'booking' %}">сервисом бронирования!</a> </h3>

        </div>
    </body>
</html>
{% endblock content%}
