{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Контакты/условия</title>
</head>
<body>
    <h1>Условия работы со мной:</h1>
	<div class="rules_container">
	<div class="rule-box">
		<h2>Сроки</h2>
		<h3>Готовые фотоснимки отдаю в течение 10 дней в количестве 30-50* штук</h3>
		<p>*при стандартной съёмке 1 час</p>
	</div>

	<div class="rule-box">
		<h2>Хранение фото</h2>
		<h3>Я храню ваши фотографии в течение 30 дней после съемки, по прошествии этого времени они будут недоступны</h3>
	</div>
	<div class="rule-box">
		<h2>Отмена</h2>
		<h3>При отмене бронирования съемки менее, чем за 24 часа, предоплата не возвращается</h3>
	</div>
	<div class="rule-box">
		<h2>Замечания</h2>
		<h3>Замечания к проделанной работе принимаются в течение 7 дней после получения готового результата</h3>
	</div>
	<div class="rule-box">
		<h2>Формат и исходники</h2>
		<h3>Все фотографии отдаются в формате JPG. Исходные кадры отдаю по дополнительному запросу</h3>
	</div>
		</div>
</body>
</html>
{% endblock content%}