{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
{% block content %}
<body>
<div class="ekb">
    <div class="book-container">
        <h2>Екатеринбург</h2>
        <div class="book_box">
          <div class="book_item">
            <a href="http://127.0.0.1:8000/booking/form" class="book-item_link">
              <div class="book-item_bg"></div>
              <div class="book-item_title">
                21 мая
              </div>
              <div class="book_date-box">
                <span class="book-item_date">
                  9:00
                </span>
              </div>
            </a>
          </div>
      
        </div>
      </div>
</div>


<div class="ufa">
    <div class="book-container">
        <h2>Уфа</h2>

        <div class="book_box">
            {% for user in users %}
          <div class="book_item">
            <a href="http://127.0.0.1:8000/booking/form" class="book-item_link">
              <div class="book-item_bg"></div>
              <div class="book-item_title">
                {{book.date}}
              </div>
              <div class="book_date-box">
                <span class="book-item_date">
                  {{user.last_name}}
                </span>
              </div>
            </a>
          </div>
            {% endfor %}
        </div>

      </div>
</div>
</body>
{% endblock content%}