{% extends 'base.html' %}
{% block content %}
<body>
{% if user.is_authenticated %}
        <h1>{{ user.username }}</h1>
        <h2>Твои записи:</h2>
        {% if user_books_occupied %}
        <div class="book-container">
            <h3>Не подтверждённые: </h3>
            <div class="book_box">
            {% for book in user_books_occupied %}
            <div class="book_item">
            <a class="book-item_link">
              <div class="book-item_bg"></div>
              <div class="book-item_title">
                {{book.date}}
              </div>
              <div class="book_date-box">
                <span class="book-item_date">
                  {{book.time}}
                </span>
              </div>
                <a href="{% url 'cancel'%}{{book.pk}}" class="book-item_link cancel">ОТМЕНИТЬ</a>
                <a href="{{book.payment_url}}" class="book-item_link cancel">Внести предоплату</a>
            </a>
          </div>
            {% endfor %}
        </div>
        </div>
        {% endif %}
        {% if user_books_confirmed %}
            <div class="book-container">
            <h3>Подтверждённые: </h3>
            <div class="book_box">
            {% for book in user_books_confirmed %}
            <div class="book_item">
            <a class="book-item_link">
              <div class="book-item_bg"></div>
              <div class="book-item_title">
                {{book.date}}
              </div>
              <div class="book_date-box">
                <span class="book-item_date">
                  {{book.time}}
                </span>
              </div>
                <a href="{% url 'cancel'%}{{book.pk}}" class="book-item_link cancel">ОТМЕНИТЬ</a>
            </a>
          </div>
            {% endfor %}
        </div>
        </div>
        {% endif %}
        {% if user_books_last %}
            <div class="book-container">
            <h3>Прошедшие: </h3>
            <div class="book_box">
            {% for book in user_books_last %}
            <div class="book_item">
            <a class="book-item_link">
              <div class="book-item_bg"></div>
              <div class="book-item_title">
                {{book.date}}
              </div>
              <div class="book_date-box">
                <span class="book-item_date">
                  {{book.time}}
                </span>
              </div>
                <a href="{{book.url}}" class="book-item_link cancel">ССЫЛКА НА ФОТО</a>
            </a>
          </div>
            {% endfor %}
        </div>
        </div>
        {% endif %}
{% else %}
        <h1>Войди в профиль, милашка =)</h1>
        <a href="{% url 'login' %}">Войти или зарегистрироваться</a>
{% endif %}
</body>
{% endblock content%}
