{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
<nav class="nav">
    <ul class="menu-main">
    <li><a href="http://127.0.0.1:8000/">Главная</a></li>
    <li><a href="http://127.0.0.1:8000/booking">Запись</a></li>
    <li><a href="http://127.0.0.1:8000/contacts">Контакты и правила</a></li>
    <li><a href=#><img src="{% static 'images/account.png' %}" width="30px" height="30px" /></a></li>
    <div id="indicator"></div>
        </ul>
</nav>
{% block content %}
{% endblock content%}