{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Услуги и прайс</title>
</head>
<body>
    <h1>Услуги и прайс</h1>
	<div class="rules_container">
	<div class="rule-box">
		<h2>Творческая Фотосъемка</h2>
		<h3><strong>Описание:</strong> Индивидуальная творческая фотосъемка с использованием различных
            концепций и стилей.</h3>
        <h3><strong>Цена:</strong> 3000 рублей/час</h3>
        <h3><strong>Характеристики:</strong> Предоставляется профессиональное оборудование, возможность
            выбора локации.</h3>
	</div>

	<div class="rule-box">
		<h2>Репортаж с мероприятия</h2>
		<h3><strong>Описание:</strong> Профессиональная фотосъемка на мероприятии (свадьба, корпоратив и т.д.).</h3>
        <h3><strong>Цена:</strong> 2500 рублей/час</h3>
        <h3><strong>Характеристики:</strong> Фиксация моментов мероприятия, обработка и подготовка фотографий.</h3>
	</div>
	<div class="rule-box">
		<h2>LoveStory</h2>
		<h3><strong>Описание:</strong> Фотосессия пары, фиксирование романтических моментов.</h3>
        <h3><strong>Цена:</strong> 3000 рублей/час</h3>
        <h3><strong>Характеристики:</strong> Фотосессия на выбранной локации, включая обработку и подготовку фотографий.</h3>
	</div>
	<div class="rule-box">
		<h2>Экспресс-съёмка (30 мин)</h2>
		<h3><strong>Описание:</strong> Быстрая фотосессия с ограничением времени.</h3>
        <h3><strong>Цена:</strong> 1250 рублей</h3>
        <h3><strong>Характеристики:</strong> Ограниченное время съемки, включая небольшую обработку фотографий.</h3>
	</div>
	<div class="rule-box">
		<h2>Изготовление фотоальбома с Вашими фото</h2>
		<h3><strong>Описание:</strong> Изготовление персонализированного фотоальбома.</h3>
        <h3><strong>Цена:</strong> от 3000 рублей</h3>
        <h3><strong>Характеристики:</strong> Составление фотоальбома по вашим фотографиям, выбор дизайна и материалов.</h3>
	</div>
		</div>
</body>
</html>
{% endblock content%}